:root {
  --innerPageGap: 1rem;
  --innerItemGap: 0.5rem;
  --innerPaddingSmall: 0.7rem;
  --innerPaddingMedium: 1rem;
  --innerBorderSmall: 0.5rem;
  text-align: center;
}
ul,
li {
  margin-left: 0;
  padding-left: 0;
}
body {
  margin: 0;
}
.addBtn {
  background: none;
  border: none;
}
.mainHome {
  min-height: 100vh;
}
.mainBg {
  background: url("./img/pexels-josh-sorenson-1714208.jpg");
  background-size: cover;
  filter: blur(3px);
  min-height: 100vh;
}
.homeIntro {
  position: absolute;
  top: 30%;
  left: 80%;
  background-color: rgba(196, 192, 192, 0.4);
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
}
.mainContent {
  display: flex;
  flex-direction: column;
}

.header,
.headerNav {
  display: flex;
}

.catalog {
  display: flex;
}
.itemGrid {
  width: 100%;
}
.leftBarNav {
  background-color: rgb(188, 192, 196);
}
.catalogList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  gap: var(--innerPageGap);
  background-color: rgb(230, 230, 230);
  padding: var(--innerPaddingMedium);
}
.itemCatalogContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}
.catalogItemLi {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--innerItemGap);
}
.catalogItem {
  width: 50%;
  height: auto;
  align-self: center;
}
.front {
  position: absolute;
  top: 0%;
  left: 25%;
  object-fit: contain;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.07, 0.75, 0.63, 1.05),
    transform 0.8s cubic-bezier(0.09, 0.76, 0.57, 1.03);
  opacity: 1;
}
.back {
  align-self: center;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.07, 0.75, 0.63, 1.05),
    transform 0.8s cubic-bezier(0.09, 0.76, 0.57, 1.03);
  opacity: 0;
}
.front:hover {
  transform: scale(1.08);
  opacity: 0;
}
.back:hover {
  transform: scale(1.08);
  z-index: 0;
  opacity: 1;
}
.itemPageImg {
  margin: 5rem 0 5rem 0;
  top: 0;
  left: 45%;
  max-width: 15vw;
  align-self: center;
}
/*Item page*/
.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--innerPageGap);
}
.cartInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalogContainer {
  height: 40vh;
  background-color: white;
}
