:root {
  --innerPageGap: 1rem;
  --innerItemGap: 0.5rem;
  --innerPaddingTiny: 0.4rem;
  --innerPaddingSmall: 0.7rem;
  --innerPaddingMedium: 1rem;
  --innerBorderSmall: 0.5rem;
  text-align: center;
  --orange: rgb(255, 101, 0);
  --orangeBrighter: rgb(255, 139, 31);
  --green: rgb(31, 144, 80);
  --red: rgb(235, 55, 35);
  --smallRadius: 0.25rem;
  --blue: rgb(0, 96, 177);
  --shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 16px 16px;
}
ul,
li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
}
button {
  background: inherit;
  border: none;
}
.addBtn {
  background: none;
  border: none;
  background-color: var(--orange);
  color: white;
  border-radius: var(--smallRadius);
  cursor: pointer;
}
.mainHome {
  min-height: 100vh;
}
.mainBg {
  background: url("./img/pexels-josh-sorenson-1714208.jpg");
  background-size: cover;
  filter: blur(3px);
  min-height: 100vh;
}
.homeIntro {
  position: absolute;
  top: 30%;
  left: 80%;
  background-color: rgba(196, 192, 192, 0.4);
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
}
.mainContent {
  display: flex;
  flex-direction: column;
}
.header,
.headerNav {
  display: flex;
  justify-content: center;
  background-color: var(--blue);
}
.headerNav {
  flex: 1;
  align-items: center;
}
.catalog {
  display: flex;
}
.cart {
  color: white;
  display: flex;
  align-items: center;
  gap: var(--innerItemGap);
  font-size: 1.2rem;
}
.itemGrid {
  width: 100%;
}
.divider {
  min-width: 100%;
  min-height: 2px;
  background-color: var(--orangeBrighter);
}
.leftNavItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: var(--innerPaddingTiny);
}

.headerBtn {
  font-weight: bold;
  box-shadow: var(--shadow);
}
.categoriesDisplayer {
  cursor: default;
}
.leftBarNav {
  align-items: center;
  background-color: var(--orange);
  color: white;
}
.ulCategory {
  display: flex;
}
.catalogList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  gap: var(--innerPageGap);
  background-color: rgb(230, 230, 230);
  padding: var(--innerPaddingMedium);
}
.catalogItemLi {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: var(--innerItemGap);
  min-height: 400px;
  background-color: white;
  padding: var(--innerPaddingSmall);
}
.catalogItem {
  height: 15rem;
  width: 15rem;
  align-self: center;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.07, 0.75, 0.63, 1.05),
    transform 0.8s cubic-bezier(0.09, 0.76, 0.57, 1.03);
}
/*Item page*/

.itemName {
  font-weight: bold;
}
.desconto {
  color: var(--green);
}
/*Animations*/

.catalogItem:hover {
  transform: scale(1.08);
}
.catalogItemLi:hover {
  box-shadow: rgba(0, 0, 0, 0.251) 0px 5px 15px;
}

.leftNavItemContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.251) 0px 2px 10px;
}
/* --------------------------------------------------- */

.itemInfo {
  display: grid;
  min-height: 85vh;
  padding: var(--innerPaddingMedium);
}
.itemNameTop {
  font-weight: bold;
  margin: 0 0 1rem 0;
}
.itemPrice {
  font-weight: bold;
  color: var(--orange);
}
.itemPriceBefore {
  font-size: 0.87rem;
  color: rgb(161, 160, 160);
  text-decoration: line-through;
}

/* Responsive ---------------------------------------- */
@media screen and (min-width: 900px) {
  .catalog {
    flex-direction: row;
  }
  .leftBarNav {
    display: flex;
    width: 12rem;
    flex-direction: column;
    padding-top: 1rem;
    font-weight: bold;
  }
  .ulCategory {
    flex-direction: column;
    gap: var(--innerPageGap);
  }
  .headerNav {
    min-height: 12vh;
    justify-content: space-evenly;
  }
  .itemPageImg {
    height: 500px;
    width: auto;
  }
  .itemInfo {
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 5fr 1fr;
  }
  .itemNameTop {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    justify-self: center;
    font-size: 1.5rem;
  }
  .itemImgContainer {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .rightPage {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    padding: 0 4rem 0 0;
  }
  .bottomPage {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .itemPrice {
    font-size: 2.5rem;
  }
  .itemBtnContainer {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: var(--innerItemGap);
  }
  .addBtn {
    font-size: 1.3rem;
    padding: var(--innerPaddingTiny);
    font-weight: bold;
  }
  .itemPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyWrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
  }
  .itemDescription {
    text-align: left;
  }
  .headerBtn {
    font-size: 1.4rem;
    padding: 0 1rem 0.25rem 1rem;
  }
  .cartTitle {
    font-size: 2rem;
    font-weight: bold;
  }
  .cartUl {
    display: flex;
    flex-direction: column;
    padding: var(--innerPaddingMedium);
    background-color: orange;
  }
  .cartLi {
    padding: var(--innerPaddingMedium);
    display: flex;
    background-color: purple;
    justify-content: space-between;
    align-items: center;
  }
  .buttonsCart {
    display: flex;
    gap: 1rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 899px) {
  .catalog {
    flex-direction: column;
  }
  .leftBarNav {
    display: flex;
    width: 15rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .ulCategory {
    justify-content: space-between;
    gap: var(--innerPageGap);
  }
  .headerNav {
    height: 10vh;
    justify-content: space-evenly;
  }
  .itemPageImg {
    height: 300px;
    width: auto;
  }
  .itemInfo {
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 5fr 1fr 1fr;
    gap: var(--innerPageGap);
  }
  .itemNameTop {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    justify-self: center;
    font-size: 1.5rem;
  }
  .itemImgContainer {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .rightPage {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    padding: 0 4rem 0 0;
  }
  .bottomPage {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .itemPrice {
    font-size: 2.5rem;
  }
  .itemBtnContainer {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: var(--innerItemGap);
  }
  .addBtn {
    font-size: 1.3rem;
    padding: var(--innerPaddingTiny);
    font-weight: bold;
  }
  .itemPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyWrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
  }
  .itemDescription {
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .catalog {
    flex-direction: column;
  }
  .leftBarNav {
    width: 100%;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 9vh;
  }
  .ulCategory {
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  .categoriesDisplayer {
    grid-row: 2/3;
  }
  .headerNav {
    margin: 0;
    height: 8vh;
    justify-content: space-evenly;
  }

  .categoriesDisplayer,
  .showingAll {
    display: none;
  }
  .itemPageImg {
    height: 250px;
    width: auto;
  }
  .itemInfo {
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 5fr 1fr 1fr;
    gap: var(--innerPageGap);
  }
  .itemNameTop {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    justify-self: center;
    font-size: 1.1rem;
  }
  .itemImgContainer {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .rightPage {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
  }
  .bottomPage {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .itemPrice {
    font-size: 2.5rem;
  }
  .itemBtnContainer {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: var(--innerItemGap);
  }
  .addBtn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem;
  }
  .itemPriceContainer {
    display: flex;
    flex-direction: column;
  }
  .buyWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0 0.5rem 0;
  }
  .itemDescription {
    text-align: left;
  }
  .desconto {
    align-self: flex-start;
    font-size: 0.7rem;
  }
  .headerBtn {
    height: 3.5vh;
    padding: 0.2rem 0.4rem 0.4rem 0.4rem;
  }
}
/* -------------------------------------- */

.imgCart {
  width: 10vw;
  height: auto;
}
.catalogPrice {
  font-size: 1.5rem;
}
.catalogName {
  font-weight: normal;
}
