:root {
  --innerPageGap: 1rem;
  --innerItemGap: 0.5rem;
  --innerPaddingSmall: 0.7rem;
  --innerPaddingMedium: 1rem;
  --innerBorderSmall: 0.5rem;
  text-align: center;
}
ul,
li {
  margin-left: 0;
  padding-left: 0;
}
body {
  margin: 0;
}
.addBtn {
  background: none;
  border: none;
}
.mainHome {
  min-height: 100vh;
}
.mainBg {
  background: url("./img/pexels-josh-sorenson-1714208.jpg");
  background-size: cover;
  filter: blur(3px);
  min-height: 100vh;
}
.homeIntro {
  position: absolute;
  top: 30%;
  left: 80%;
  background-color: rgba(196, 192, 192, 0.4);
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
}
.mainContent {
  display: flex;
  flex-direction: column;
}

.header,
.headerNav {
  display: flex;
}

.catalog {
  display: flex;
}
.itemGrid {
  width: 100%;
}
.leftBarNav {
  background-color: rgb(188, 192, 196);
}
.catalogList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  gap: var(--innerPageGap);
  background-color: rgb(230, 230, 230);
  padding: var(--innerPaddingMedium);
}
.catalogItemLi {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: var(--innerItemGap);
  min-height: 250px;
  background-color: white;
}
.catalogItem {
  height: 8rem;
  width: 8rem;
  align-self: center;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.07, 0.75, 0.63, 1.05),
    transform 0.8s cubic-bezier(0.09, 0.76, 0.57, 1.03);
}
.catalogItem:hover {
  transform: scale(1.08);
}
/*Item page*/
.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--innerPageGap);
}
.cartInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
